.transition-rect {
    cursor: move;
}

.transition-text {
    cursor: move;
}

.trans-mode-move {
    cursor: move;
}

.trans-mode-add-connection {
    cursor: pointer;
}

.trans-mode-run {
    cursor: pointer;
}
