.transition-container {
    display: block;
    position: absolute;
    padding: 0;
    text-align: center;
    width: 140px;
    height: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.transition-button {
    display: block;
    position: relative;
    top: 0;
    left: 68px;
    width: 12px;
    height: 55px;
    background-color: black;
}

.transition-name {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    top: 55px;
}

