
.place-circle {
    fill: #ddd;
    stroke: black;
    stroke-width: 2px;
}

.circle-mode-move {
    cursor: move;
}

.circle-mode-add-connection {
    cursor: pointer;
}

.place-circle.selected {
    fill: #a08a8a;
}

.place-text { 
    fill: #000;
    font-size: 1rem;
    font-family: sans-serif;
    cursor: move;
}

.place-token-number {
    fill: #f00;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: move;
}

.place-token {
    fill: #f00;
}


