
.place-circle {
    fill: #95b1c4;
    cursor: move;
}

.place-circle.selected {
    fill: #a37575;
}

.place-text { 
    fill: #000;
    font-size: 1.3rem;
    font-family: sans-serif;
    cursor: move;
}

.place-token {
    fill: #f00;
}


